/* Base website styles */

.Page-wrapper {
    margin: auto;
    width: 800px;
    font-family: serif;
}

.Page {
    display: flex;
    flex-direction: column;
}

.Page > h1 {
    font-weight: 200;
}

.Page > section {
    display: flex;
}

.Page > section > aside {
    border: 1px solid black;
    margin-left: 20px;
    padding: 20px;
}


/*
  Originally based on Josh's Custom CSS Reset tutorial:
    https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
