/*
  Originally based on Josh's Custom CSS Reset tutorial:
    https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* Base website styles */
:root {
    --page-width: 800px;
    --bg1: #ffffff;
    --bg2: #e5e5f7;
    --accent1: #f2cd54;
    --accent2: #91d370;
    --accent3: #bca0ff;
    --leftoffset: -80px;
}

body {
    background-color: #e5e5f7;
    background-size: 100px 100px;
    background-image: 
        /*
        radial-gradient(var(--accent1) 3%, transparent 3%),
        radial-gradient(farthest-corner at 10px 117px, var(--accent1) 2%, transparent 2%),*/
        repeating-linear-gradient(0deg, var(--accent1), var(--accent1), 1px, #e5e5f7 1px, #e5e5f7);
    overflow-x: hidden;
}

.Page-wrapper {
    z-index: 1;
    margin: auto;
    width: var(--page-width);
    font-family: serif;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 100vh;
    background: white;
}

.Page {
    display: flex;
    flex-direction: column;
}

.Page > h1 {
    font-weight: 200;
    z-index: 3;
    font-size: 50px;
    text-align: right;
    margin-bottom: -102px;
}

.Page > h1 > span {
    text-shadow:
        1px 0px #ffffff,
        0px 1px #ffffff,
        1px 1px #ffffff,
        -1px -1px #ffffff;
}

.Page > img:first-of-type {
    /*transform: skew(-15deg, -15deg);*/
    margin-left: var(--leftoffset);
    z-index: 3;
    margin-bottom: -100px;
    margin-top: 14px;
    width: 170px;
    float: right;
    box-shadow:
        -10px -10px 0 0 var(--accent1)
        ,3px 8px 0 0 var(--accent3)
        ,0px 10px 0 10px var(--accent2)
        ,-10px -10px 0 20px var(--accent1)
        ,3px 8px 0 30px var(--accent3)
        ,0px 10px 0 40px var(--accent2)
        ,0px 0px 0 80px var(--bg2)
        ,0px 0px 0 82px var(--accent1)
        ;
}

.Page > h2 {
    text-transform: uppercase;
    box-shadow: -30px -1px 0 0 var(--accent1);
    margin-top: 70px;
    margin-left: var(--leftoffset);
    width: 100vw;
    z-index: 3;
    font-size: 60px;
    font-weight: lighter;
    color: black;
    text-shadow:
        2px -2px #111
        ,1px -1px #222
        ,-1px 1px #333
        ,-2px 2px #444
        ,-3px 3px #555
        /*,600px 0px var(--bg2)
        ,300px 0px var(--bg2)*/
        /*,-400px -24px var(--accent2)
        ,900px -24px var(--accent3)*/
        ,-400px -24px var(--accent1)
        ,900px -24px var(--accent1)
    ;
    /*
    font-weight: 800;
    color: black;
    text-shadow:
        -1px 1px #000
        ,1px -1px #000
        ,2px -2px #000
        ,-2px 2px #000
        ,-6px 0 var(--accent3)
        ,6px 0 var(--accent2)
    ;
    */
        /*,2px -2px var(--bg2)
        ,-2px 2px var(--bg2)*/
    /*
    text-shadow:
        -2px 0 var(--accent3),
        2px 0 var(--accent2);
    */
}

.Page > blockquote {
    margin-left: 200px;
    font-size: 20px;
}

.Page > blockquote > .circle {
    float: left;
    height: 200px;
    width: 300px;
    shape-outside: circle();
}
.Page > blockquote > .circle:nth-of-type(odd) {
    float: right;
    width: 100px;
}


.Page > hr:first-of-type {
    height: 10px;
    background-color: #91d370;
    border: none;
    /*background-image: linear-gradient(319deg, var(--accent2) 0%, var(--accent3) 37%, var(--accent1) 100%);*/
    background-image: linear-gradient(
        319deg, var(--accent2) 0%,
        var(--accent3) 37%,
        var(--accent1) 80%,
        var(--accent1) 100%);
    width: 100%;
    z-index: 2;
    margin-bottom: 100px;
    box-shadow:
        -10px -10px 0 0 var(--bg2)
        ,3px 8px 0 0 var(--bg2)
        ,0px 10px 0 10px var(--accent2)
        ,-10px -10px 0 20px var(--bg2)
        ,0px 0px 0 80px var(--bg2)
        ,0px 0px 0 82px var(--accent1)
        ;
}

.Page > section {
    display: flex;
    flex-direction: row;
}

.Page > section > aside {
    border: 1px solid var(--accent3);
    margin-left: 20px;
    padding: 20px;
}


@media (max-width: 920px) {
    :root {
        --leftoffset: 1px;
    }
    .Page-wrapper {
        width: 100vw;
    }
    .Page > section {
        flex-direction: column;
    }
}

