/*
x-ArchiveSidebar :root {
    --page-width: 800px;
    --bg1: #ffffff;
    --bg2: #e5e5f7;
    --accent1: #f2cd54;
    --accent2: #91d370;
    --accent3: #bca0ff;
    --leftoffset: -80px;
}
*/

x-ArchiveSidebar a {
    background: white;
    color: black;
}

x-ArchiveSidebar a.active {
    background: var(--accent1);
}
x-ArchiveSidebar li {
    font-size: 1.3rem;
    line-height: 2.0rem;
}

x-ArchiveSidebar nav {
    border: 1px solid black;
    padding-top: 20px;
}

x-ArchiveSidebar ul {
    margin-left: -30px;
}

x-ArchiveSidebar ul > h2 {
    font-size: 25px;
    margin-top: 50px;
    /*
    float: left;
    shape-outside: circle();
    height: auto;
    width: 125px;
    */
}
x-ArchiveSidebar ul > h2 {
    text-align: right;
    background: black;
    color: white;
    height: 28px;
}

x-ArchiveSidebar ul > p > span  {
    font-size: 16px;
    background: white;
    font-style: italic;
}


x-ArchiveSidebar .visible-toggle {
    display: none;
}

x-ArchiveSidebar .visible-toggle-overlay {
    opacity: 0.5;
    position: relative;
    top: -20px;
    height: 20px;
    background: repeating-linear-gradient(
        -55deg,
        transparent,
        transparent 10px,
        var(--accent1) 10px,
        var(--accent1) 20px
    );
}

x-ArchiveSidebar ul {
    height: 400px;
    overflow: hidden;
}

x-ArchiveSidebar ul.active {
    height: auto;
}

x-ArchiveSidebar .visibility-controls > label,
x-ArchiveSidebar .comment-controls > button {
    margin-left: 20px;
    font-size: 20px;
    border: 3px var(--accent3) solid;
    padding: 20px;
}

x-ArchiveSidebar .comment-controls > button {
    float: right;
    margin-top: -20px;
    background: transparent;
    margin-right: 20px;
}

x-ArchiveSidebar .visibility-controls > label:hover,
x-ArchiveSidebar .comment-controls > button:hover {
    background: var(--accent3);
    cursor: pointer;
}

x-ArchiveSidebar .visibility-controls > label > input {
    display: none;
}

@media (min-width: 1330px) {
x-ArchiveSidebar nav {
        position: absolute;
        left: calc(2vw);
        top: 100px;
        z-index: 10;
        width: calc(100px + 10vw);
    }
x-ArchiveSidebar ul {
        height: auto;
    }

x-ArchiveSidebar .visibility-controls {
        display: none;
    }
x-ArchiveSidebar .visible-toggle-overlay {
        display: none;
    }
}





x-SoundcloudButton a {
            cursor: pointer;
        }
    