

<nav>
    <ul  {% if state.showall %}class="active"{% endif %}>
        <p>
            #{{ props.qid }} -
            <a class="active" href="#">{{ props.title }}</a> <br />
            <span>This article is from a previous blog, actively published
            between 2016-2019.</span>
        </p>


        <h2>Popular</h2>

        {# TODO refactor the loop into a snippet #}
        {% for info in staticdata|reversed %}
            {% if info.id|add:"," in "5,11,33,38," %}
                <li>#{{ info.id }} -
                    <a class="{% if info.id == props.qid %}active{% endif %}"
                        href="/archive/article/{{ info.id }}.html">{{ info.title|safe }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <h2>All archived articles</h2>
        {% for info in staticdata|reversed %}
            <li>#{{ info.id }} -
                <a class="{% if info.id == props.qid %}active{% endif %}"
                    href="/archive/article/{{ info.id }}.html">{{ info.title|safe }}</a>
            </li>
        {% endfor %}

    </ul>

    {% if not state.showall %}
        <div class="visibility-controls">
            <div class="visible-toggle-overlay"></div>
            <label>
                <input [state.bind] name="showall" type="checkbox">
                Read more from the archive...
            </label>
        </div>
    {% endif %}
</nav>

{% if not state.showcomments %}
    <div class="comment-controls">
        <button @click:=script.showComments>
            Read Comment Section (Disqus)
        </button>
    </div>
{% endif %}

<div class="rainbow-square" style="margin-top: 80px; padding: 10px">
    <div id="disqus_thread"></div>
</div>
